.mtds
{
    .textarea
    {
        --margin: 0;

        --border-style: var(--input-border-style);
        --border-color: var(--input-border-color);

        --border-small: var(--input-border-small);
        --border-medium: var(--input-border-medium);
        --border-large: var(--input-border-large);

        --size-small: var(--input-padding-small);
        --size-medium: var(--input-padding-medium);
        --size-large: var(--input-padding-large);

        margin: var(--margin);
        padding: var(--padding);

        border-style: var(--border-style);
        border-color: var(--border-color);

        background-color: var(--color-input-background);
        font-family: inherit;
        font-size: inherit;

        resize: vertical;
        width: 100%;

        &:focus-visible
        {
            outline-color: color-mix(in srgb, black 10%, var(--border-color));
        }

        &.border-none
        {
            border: 0;
        }

        &.border-small
        {
            border-width: var(--border-small);
        }

        &.border-medium
        {
            border-width: var(--border-medium);
        }

        &.border-large
        {
            border-width: var(--border-large);
        }

        &.size-small
        {
            padding: var(--size-small);
        }

        &.size-medium
        {
            padding: var(--size-medium);
        }

        &.size-large
        {
            padding: var(--size-large);
        }
    }
}