.mtds
{
    .clickarea
    {
        --background-hover-color: var(--input-background-hover-color);
        
        --margin: 0;

        --padding-small: var(--input-padding-small);
        --padding-medium: var(--input-padding-medium);
        --padding-large: var(--input-padding-large);

        cursor: pointer;
        display: flex;
        flex-direction: column;
        margin: var(--margin);

        &.align-x-left
        {
            align-items: flex-start;
        }

        &.align-x-center
        {
            align-items: center;
        }

        &.align-x-right
        {
            align-items: flex-end;
        }

        &.effect-hover:hover
        {
            background-color: var(--background-hover-color);
        }

        &.padding-none
        {
            padding: 0;
        }

        &.padding-small
        {
            padding: var(--padding-small);
        }

        &.padding-medium
        {
            padding: var(--padding-medium);
        }

        &.padding-large
        {
            padding: var(--padding-large);
        }
    }
}