.mtds
{
    .clickarea
    {
        --margin: 0;

        --padding-small: var(--container-padding-small);
        --padding-medium: var(--container-padding-medium);
        --padding-large: var(--container-padding-large);

        cursor: pointer;
        display: inline-block;
        margin: var(--margin);

        &.padding-none
        {
            padding: 0;
        }

        &.padding-small
        {
            padding: var(--padding-small);
        }

        &.padding-medium
        {
            padding: var(--padding-medium);
        }

        &.padding-large
        {
            padding: var(--padding-large);
        }
    }
}