.mtds
{
    .border
    {
        --border-radius: 0;
        --color: var(--color-border);
        --margin: 0;

        --size-small: var(--element-border-small);
        --size-medium: var(--element-border-medium);
        --size-large: var(--element-border-large);
        
        --padding-small: var(--container-padding-small);
        --padding-medium: var(--container-padding-medium);
        --padding-large: var(--container-padding-large);
        
        border-color: var(--color);
        border-radius: var(--border-radius);
        margin: var(--margin);
        min-width: 0;

        &.type-normal
        {
            border-style: solid;
        }

        &.type-dashed
        {
            border-style: dashed;
        }

        &.type-dotted
        {
            border-style: dotted;
        }

        &.size-large
        {
            border-width: var(--size-large);
        }

        &.size-medium
        {
            border-width: var(--size-medium);
        }

        &.size-small
        {
            border-width: var(--size-small);
        }

        &.padding-none
        {
            padding: 0;
        }

        &.padding-small
        {
            padding: var(--padding-small);
        }

        &.padding-medium
        {
            padding: var(--padding-medium);
        }

        &.padding-large
        {
            padding: var(--padding-large);
        }
    }
}