.mtds
{
    .grid
    {
        --gap-small: var(--container-padding-small);
        --gap-medium: var(--container-padding-medium);
        --gap-large: var(--container-padding-large);

        display: grid;
        min-width: 0;

        & > div,
        & > h1,
        & > h2,
        & > h3,
        & > p,
        & > form,
        & > label,
        & > input,
        & > textarea,
        & > select
        {
            margin: 0;
        }

        &.layout-two-columns
        {
            grid-template-columns: 1fr 1fr;
        }

        &.layout-three-columns
        {
            grid-template-columns: 1fr 1fr 1fr;
        }

        &.layout-four-columns
        {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        &.gap-small
        {
            grid-gap: var(--gap-small);
        }

        &.gap-medium
        {
            grid-gap: var(--gap-medium);
        }

        &.gap-large
        {
            grid-gap: var(--gap-large);
        }
    }
}