.mtds
{
    .ruler
    {
        --color: var(--color-border);
        
        --size-small: var(--element-border-small);
        --size-medium: var(--element-border-medium);
        --size-large: var(--element-border-large);

        background-color: var(--color);

        &.direction-horizontal
        {
            width: 100%;

            &.size-small
            {
                height: var(--size-small);
            }

            &.size-medium
            {
                height: var(--size-medium);
            }

            &.size-large
            {
                height: var(--size-large);
            }
        }

        &.direction-vertical
        {
            height: 100%;

            &.size-small
            {
                width: var(--size-small);
            }

            &.size-medium
            {
                width: var(--size-medium);
            }

            &.size-large
            {
                width: var(--size-large);
            }
        }
    }
}