.mtds
{
    .text
    {
        --primary-color: var(--color-primary-foreground);
        --secondary-color: var(--color-secondary-foreground);

        --size-small: 0.9em;
        --size-medium: 1em;
        --size-large: 1.2em;

        display: inline-block;

        &.type-primary
        {
            color: var(--primary-color);
        }

        &.type-secondary
        {
            color: var(--secondary-color);
        }

        &.size-small
        {
            font-size: var(--size-small);
        }

        &.size-medium
        {
            font-size: var(--size-medium)
        }

        &.size-large
        {
            font-size: var(--size-large)
        }

        &.weight-light
        {
            font-weight: var(--font-weight-light);
        }

        &.weight-normal
        {
            font-weight: var(--font-weight-normal);
        }

        &.weight-bold
        {
            font-weight: var(--font-weight-bold);
        }

        &.wrap-none
        {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        &.wrap-normal
        {
            white-space: normal;
        }

        &.wrap-break-word
        {
            word-wrap: break-word;
        }
    }
}