.mtds
{
    .button
    {
        --margin: 0;

        --border-radius: 2em;
        --border-style: solid;
        --border-color: var(--color-border);
        --border-width: var(--width-border);

        --size-small: 0.2em 2.2em;
        --size-medium: 0.5em 2.2em;
        --size-large: 0.9em 2.2em;

        --type-primary-background-color: var(--color-primary-action-background);
        --type-primary-foreground-color: var(--color-primary-action-foreground);
        --type-secondary-background-color: var(--color-secondary-action-background);
        --type-secondary-foreground-color: var(--color-secondary-action-foreground);
        --type-disabled-background-color: transparent;

        border-radius: var(--border-radius);
        border: 0;

        cursor: pointer;
        margin: var(--margin);
        text-align: center;
        width: fit-content;

        font-family: inherit;
        font-size: inherit;

        &.size-small
        {
            padding: var(--size-small);
        }

        &.size-medium
        {
            padding: var(--size-medium);
        }

        &.size-large
        {
            padding: var(--size-large);
        }

        &.type-primary,
        &.type-submit
        {
            background-color: var(--type-primary-background-color);
            color: var(--type-primary-foreground-color);

            font-weight: var(--font-weight-bold);
        }

        &.type-primary:hover,
        &.type-submit:hover
        {
            background-color: color-mix(in srgb, black 10%, var(--type-primary-background-color));
        }

        &.type-primary:focus
        {
            background-color: color-mix(in srgb, black 20%, var(--type-primary-background-color));
        }

        &.type-secondary
        {
            background-color: var(--type-secondary-background-color);
            color: var(--type-secondary-foreground-color);

            font-weight: var(--font-weight-normal);
        }

        &.type-secondary:hover
        {
            background-color: color-mix(in srgb, black 10%, var(--type-secondary-background-color));
        }

        &.type-secondary:focus
        {
            background-color: color-mix(in srgb, black 20%, var(--type-secondary-background-color));
        }

        &.type-disabled
        {
            background-color: var(--type-disabled-background-color);

            border-color: var(--border-color);
            border-style: var(--border-style);
            border-width: var(--border-width);

            font-weight: var(--font-weight-light);

            cursor: default;
        }
    }
}