.mtds
{
    .button
    {
        --margin: 0;

        --border-radius: 2em;
        --border-style: var(--input-border-style);

        --border-color-disabled: var(--input-border-color);

        --border-small: var(--input-border-small);
        --border-medium: var(--input-border-medium);
        --border-large: var(--input-border-large);

        --size-small: 0.2em 2.2em;
        --size-medium: 0.5em 2.2em;
        --size-large: 0.9em 2.2em;

        --type-primary-background-color: var(--color-primary-action-background);
        --type-primary-foreground-color: var(--color-primary-action-foreground);
        --type-secondary-background-color: var(--color-secondary-action-background);
        --type-secondary-foreground-color: var(--color-secondary-action-foreground);
        --type-disabled-background-color: transparent;

        border-radius: var(--border-radius);
        border-style: var(--border-style);
        border-color: var(--border-color);

        cursor: pointer;
        margin: var(--margin);
        text-align: center;
        width: fit-content;

        font-family: inherit;
        font-size: inherit;

        &.border-none
        {
            border-width: 0;
        }

        &.border-small
        {
            border-width: var(--border-small);
        }

        &.border-medium
        {
            border-width: var(--border-medium);
        }

        &.border-large
        {
            border-width: var(--border-large);
        }
        
        &.size-small
        {
            padding: var(--size-small);
        }

        &.size-medium
        {
            padding: var(--size-medium);
        }

        &.size-large
        {
            padding: var(--size-large);
        }

        &.type-primary,
        &.type-submit
        {
            background-color: var(--type-primary-background-color);
            border-color: var(--type-primary-background-color);
            color: var(--type-primary-foreground-color);

            font-weight: var(--font-weight-bold);
        }

        &.type-primary:hover,
        &.type-submit:hover
        {
            --hover-color: color-mix(in srgb, black 10%, var(--type-primary-background-color));

            background-color: var(--hover-color);
            border-color: var(--hover-color);
        }

        &.type-primary:focus
        {
            --hover-color: color-mix(in srgb, black 20%, var(--type-primary-background-color));

            background-color: var(--hover-color);
            border-color: var(--hover-color);
        }

        &.type-secondary
        {
            background-color: var(--type-secondary-background-color);
            border-color: var(--type-secondary-background-color);
            color: var(--type-secondary-foreground-color);

            font-weight: var(--font-weight-normal);
        }

        &.type-secondary:hover
        {
            --hover-color: color-mix(in srgb, black 10%, var(--type-secondary-background-color));

            background-color: var(--hover-color);
            border-color: var(--hover-color);
        }

        &.type-secondary:focus
        {
            --hover-color: color-mix(in srgb, black 20%, var(--type-secondary-background-color));

            background-color: var(--hover-color);
            border-color: var(--hover-color);
        }

        &.type-disabled
        {
            background-color: var(--type-disabled-background-color);
            border-color: var(--border-color-disabled);

            font-weight: var(--font-weight-light);

            cursor: default;
        }
    }
}