.mtds
{
    .layout-portrait
    {
        --content-width: 900px;

        container-type: inline-size;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        flex-grow: 1;
        min-height: 100vh;

        & > .content
        {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            padding: 1rem;
            width: var(--content-width);
            max-width: 100%;

            header
            {
                border-bottom: 0.1em solid var(--border-color);
                margin-bottom: 1em;

                flex-grow: 0;
                flex-shrink: 0;
            }

            main
            {
                flex-grow: 1;
                flex-shrink: 1;
            }

            footer
            {
                border-top: 0.1em solid var(--border-color);
                margin-top: 1em;
                
                flex-grow: 0;
                flex-shrink: 0;
            }
        }

        @container (max-width: 499px)
        {
            & > .content
            {
                padding: 0.5rem;
            }
        }
    }
}