.mtds
{
    .panel
    {
        --border-radius: 0;
        --margin: 0 0 1.5em 0;

        --padding-large: 2em;
        --padding-medium: 1.5em;
        --padding-small: 1em;

        --type-alert-background-color: var(--color-alert-background);
        --type-alert-foreground-color: var(--color-alert-foreground);

        --type-error-background-color: var(--color-error-background);
        --type-error-foreground-color: var(--color-error-foreground);

        --type-normal-background-color: var(--color-secondary-background);
        --type-normal-foreground-color: var(--color-primary-foreground);

        --type-success-background-color: var(--color-success-background);
        --type-success-foreground-color: var(--color-success-foreground);

        --type-warning-background-color: var(--color-warning-background);
        --type-warning-foreground-color: var(--color-warning-foreground);

        border-radius: var(--border-radius);
        padding: var(--padding);
        margin: var(--margin);
        min-width: 0;

        &.type-alert
        {
            background-color: var(--type-alert-background-color);
            color: var(--type-alert-foreground-color);
        }

        &.type-error
        {
            background-color: var(--type-error-background-color);
            color: var(--type-error-foreground-color);
        }

        &.type-normal
        {
            background-color: var(--type-normal-background-color);
            color: var(--type-normal-foreground-color);
        }

        &.type-success
        {
            background-color: var(--type-success-background-color);
            color: var(--type-success-foreground-color);
        }

        &.type-warning
        {
            background-color: var(--type-warning-background-color);
            color: var(--type-warning-foreground-color);
        }

        &.type-transparent
        {
            background-color: transparent;
        }

        &.padding-small
        {
            padding: var(--padding-small);
        }

        &.padding-medium
        {
            padding: var(--padding-medium);
        }

        &.padding-large
        {
            padding: var(--padding-large);
        }
    }
}