.mtds
{
    .details
    {
        --padding: var(--container-padding-small) 0 0 0;

        .content
        {
            padding: var(--padding);
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }
    }
}