.mtds
{
    .paragraph
    {
        --margin: 0;
        --line-height: 1.5em;

        --size-small: var(--element-font-small);
        --size-medium: var(--element-font-medium);
        --size-large: var(--element-font-large);

        margin: var(--margin);
        line-height: var(--line-height);
        min-width: 0;

        &.size-large
        {
            font-size: var(--size-large);
        }

        &.size-medium
        {
            font-size: var(--size-medium);
        }

        &.size-small
        {
            font-size: var(--size-small);
        }
    }
}