.mtds
{
    .paragraph
    {
        --margin: var(--margin-container);
        --line-height: 1.5em;

        --size-large: 1.5em;
        --size-medium: 1em;
        --size-small: 0.75em;

        margin: var(--margin);
        line-height: var(--line-height);
        min-width: 0;

        &.size-large
        {
            font-size: var(--size-large);
        }

        &.size-medium
        {
            font-size: var(--size-medium);
        }

        &.size-small
        {
            font-size: var(--size-small);
        }
    }
}