.mtds
{
    .input
    {
        --margin: 0 0 1em 0;
        --gap: 0.5em;

        display: flex;
        flex-direction: column;

        gap: var(--gap);
        margin: var(--margin);

        label
        {
            width: 100%;
        }

        input, textarea, select
        {
            width: 100%;
        }
    }
}