.mtds
{
    --font-family: sans-serif;
    --font-size: 16px;

    --font-weight-extra-light: 200;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;

    --color-background: transparent;
    --color-background-hover: #efefef;
    --color-foreground: #000000;
    --color-border: #b7b7b7;

    --color-primary-background: #ffffff;
    --color-primary-foreground: #000000;

    --color-secondary-background: #f3f3f3;
    --color-secondary-foreground: #666666;

    --color-primary-action-background: #cccccc;
    --color-primary-action-foreground: #000000;

    --color-secondary-action-background: #f3f3f3;
    --color-secondary-action-foreground: #000000;

    --color-input-background: #ffffff;
    --color-input-foreground: #000000;

    --color-alert-background: #d9d9d9;
    --color-alert-foreground: #666666;

    --color-error-background: #666666;
    --color-error-foreground: #f3f3f3;

    --color-warning-background: #999999;
    --color-warning-foreground: #f3f3f3;

    --color-success-background: #efefef;
    --color-success-foreground: #666666;

    --element-border-small: 0.1em;
    --element-border-medium: 0.2em;
    --element-border-large: 0.3em;

    --element-font-small: 0.9em;
    --element-font-medium: 1em;
    --element-font-large: 1.2em;

    --container-gap-small: 0.4em;
    --container-gap-medium: 1em;
    --container-gap-large: 2em;

    --container-padding-small: 1em;
    --container-padding-medium: 1.5em;
    --container-padding-large: 2em;

    --input-background-hover-color: rgba(0, 0, 0, 0.05);

    --input-border-style: solid;
    --input-border-color: var(--color-border);

    --input-border-small: 0.05em;
    --input-border-medium: 0.075em;
    --input-border-large: 0.1em;

    --input-padding-small: 0.4em;
    --input-padding-medium: 0.8em;
    --input-padding-large: 1.2em;

    font-family: var(--font-family);
    font-size: var(--font-size);

    background-color: var(--color-background);
    color: var(--color-foreground);
    font-weight: var(--font-weight-light);

    *
    {
        box-sizing: border-box;

        &:is(:last-child)
        {
            margin-bottom: 0;
        }
    }
}