.mtds
{
    .datetime
    {
        --margin: 0;

        --size-small: 0.4em;
        --size-medium: 0.8em;
        --size-large: 1.2em;

        --border-style: solid;
        --border-color: var(--color-border);
        --border-width: var(--width-border);

        margin: var(--margin);

        border-style: var(--border-style);
        border-width: var(--border-width);
        border-color: var(--border-color);

        background-color: var(--color-input-background);

        font-family: inherit;
        font-size: inherit;

        &:focus-visible
        {
            outline-color: color-mix(in srgb, black 10%, var(--border-color));
        }

        &.size-small
        {
            padding: var(--size-small);
        }

        &.size-medium
        {
            padding: var(--size-medium);
        }

        &.size-large
        {
            padding: var(--size-large);
        }
    }
}