.mtds
{
    .title
    {
        --margin: 0 0 0.8em 0;

        --size-small: 1em;
        --size-medium: 1.5em;
        --size-large: 2em;

        margin: var(--margin);

        &.size-large
        {
            font-size: var(--size-large);
        }

        &.size-medium
        {
            font-size: var(--size-medium);
        }

        &.size-small
        {
            font-size: var(--size-small);
        }
    }
}